<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

  <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
     <param name="Target" value="System.err" /> 
     <param name="threshold" value="warn" /> 
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{ISO8601} [%p] %x%m%n\tat %t %c.%M(%F:%L)\n" />
     </layout>
  </appender>

  <root>
    <appender-ref ref="stderr"/>
  </root>
</log4j:configuration>
